@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Movie Centre</h1>
    <br><br><br>
    <div>
        <div style="display: inline;">
            <a href="\ComedyM"><img src="\images\Comedy.png" alt=""></a>
        </div>
        <div style="display: inline;">
            <a href="\AdventureM"><img src="\images\Adventure.png" alt=""></a>
        </div>
        <div style="display: inline;">
            <a href="\ActionM"><img src="\images\Action.png" alt=""></a>
        </div>
    </div>

</div>
